<hr />

<h2>Login</h2>

<form action="/login" method="POST">
  E-Mail:
  <br />
  <input name="email" type="text" /><br />
  Passwort:
  <br />
  <input name="password" type="password" /><br />
  <input type="submit" value="Anmelden" />
</form>
<a href="/register" class="button">Registrieren</a>