<hr />

<h2>Login</h2>

<form>
  E-Mail:
  <br />
  <input type="email" /><br />
  Passwort:
  <br />
  <input type="password" /><br />
  <input type="submit" value="Anmelden" />
</form>
<a href="/registration" class="button">Registrieren</a>