<hr />

<h2>Registrieren</h2>

<form>
  Vorname:
  <br />
  <input type="text" /><br />
  Nachname:
  <br />
  <input type="text" /><br />
  E-Mail:
  <br />
  <input type="email" /><br />
  Passwort:
  <br />
  <input type="password" /><br />
  <input type="submit" value="Registrieren" />
</form>