<h1>Hallo Athlet</h1>

<a href="/TrainingOverview" class="button">Trainings übersicht</a>
<a href="/AthletTrainingEntry" class="button">Training hinzufügen</a>
<a href="/logout" class="button">Logout</a>