<h2>Registrieren</h2>

<form action="/register" method="POST">
  Vorname:
  <br />
  <input name="vorname" type="text" /><br />
  Nachname:
  <br />
  <input name="nachname" type="text" /><br />
  E-Mail:
  <br />
  <input name="email" type="text" /><br />
  Passwort:
  <br />
  <input name="password" type="password" /><br />
  <input type="submit" value="Registrieren" />
</form>