<div class="details-container">
  <h1>Hallo Trainer</h1>
  <a href="/TrainingOverviewTrainer" class="button">Übersicht</a>
  <a href="/traininggroup" class="button">Trainingsgruppe</a>
  <a href="/logout" class="button">Logout</a>
</div>